
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: grey;
    font-family: 10px;
    font-family: 'Jersey 10', sans-serif;
  }
  
  ul, li {
    font-family: 'Rubik Pixels', system-ui;
  }

html, body {
    margin: 0;
    padding: 0;
}

ul, ol {
    padding: 0;
    list-style-position: inside
}

a, a:visited {
    color: crimson;
}
a:active, a:hover {
    color: blue;
}

p.caption {
    font-size: 16px;
    font-style: oblique;
    margin-top: 0;
}

header {
    text-align: center;
    background-color: crimson;
    padding: 20px;

}

header .pfp {
    width: 300px;
    height: 300px;
    border: 20px solid black;
    border-radius: 50%;
    background-image: url('./../img/ichigo3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

h1 {
   
        font-family: "Rubik Pixels", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        margin: 10px 0 20px 0;
        color: black;
      
}

h2 {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0 20px 0;
    color: black;
  
}

main {
    width: 800px;
    margin: 0 auto;
}

main img {
    max-width: 100%;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: crimson;
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

footer a {
    color: black;
}



